* {
    font-family: 'Caveat', cursive;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-evenly;
    background-image: url(./assets/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

h2 {
    font-size: 22vh;
    font-weight: bold;
    margin-bottom: 1vh;
    width: 60%;
    text-align: center;
    
}

.center h1{
    font-size: 16vh;
    font-weight: bold;
    margin-left: -2vh;
}
.center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.player h1 {
    padding: 0 3vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-size: 7vh;
}
.player h1, .player h2 {
    background-color: rgba(204, 214, 181, .4);
    border-style: inset;
    border-color: black;
}
.player div button {
    border-radius: 100px;
    background-color: rgba(0, 0, 0, .45);
    font-size: 6.3vh;
    width: 100%;
    color: burlywood;
}
.positive:hover {
    background-color: rgba(15, 255, 15, 0.25);
}
.negative:hover {
    background-color: rgba(255, 0, 0, 0.25);
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.life-buttons {
    width: 50%;
}


@media only screen and (max-width: 600px) {
    .center h1 {
      font-size: 4vh;
      margin-left: -.5vh;
    }
    .center button {
        height: 15vh;
    }
    .player h1 {
        font-size: 3vh;
    }
    .player h2 {
        font-size: 8vh;
        width: 40%;
    }
  }