* {
    font-family: 'VT323', monospace;
    font-size: 40px;
}
body {
    background-color: rgb(48, 10, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: antiquewhite;
    font-size: 8vw;
    margin-bottom: 0;
}
p {
    border: solid;
    background-color: black;
    color: greenyellow;
    width: 60%;
    font-size: 5vw;
    text-align: center;
}

button {
    width: 50%;
    margin-bottom: 1vh;
}