* {
    font-family: 'VT323', monospace;
    font-size: 40px;
}
body {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: antiquewhite;
    font-size: 8vw;
    margin-bottom: 0;
}
p {
    border: solid;
    background-color: black;
    color: greenyellow;
    width: 25%;
    font-size: 5vw;
}